{% extends 'layout.twig' %}

{% block body %}
  <h1>Ajouter une marque</h1>
  <form method="post" action="/voiture/brand/add/ok/">
    <input type="text" name="marque" id="marque" placeholder="Ex: TAUDI">
    <input type="submit">
  </form>
{% endblock %}
